@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: blue;
  --primary-foreground: #fff;
  --muted: #f7f7f7;
  --muted-foreground: #8e8e8e;
  --destructive: red;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: blue;
    --primary-foreground: #fff;
    --muted: #262626;
    --muted-foreground: #b4b4b4;
    --destructive: red;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
